body
{
    background-color: azure;
}
.title-h1
{
    color: yellow;
    text-shadow: #6495ED 2px 2px, #6495ED -2px 2px, #6495ED -2px -2px, #6495ED 2px -2px;
    font-size: 70px;
}
.input-research
{
    font-size: 20px;
    width: 500px;
    padding: 10px;
    background-color: white;
    box-shadow: 1px 1px 5px rgba(0,0,0,0.5);
    border: none;
    border-bottom: #6495ED 4px solid ;
}
.input-research::placeholder
{
    font-size: 20px;
}
ul
{
    display: block;

}
li
{
    width: 500px;
    list-style: none;
    padding: 22px;
    background-color: white;
    box-shadow: 1px 1px 5px rgba(0,0,0,0.5);
}